@model List<ProductVariationDto>
@{
    ViewData["Title"] = "Home Page";
}


<div class="content-wrapper">
    <!-- Content -->
    <div class="container-xxl flex-grow-1 container-p-y">
        <h4 class="breadcrumb-wrapper py-3 mb-4"><span class="text-muted fw-light">  إداراة الصفات المتغيرة  /</span> الصفات المتغيرة  </h4>


        <!-- Ajax Sourced Server-side -->
        <div class="card">

            <div class="row ">
                <div class="col-md-6 text-start  mt-3  ps-4">
                    <h5 class="card-title mb-0 ms-2">  إضافة منتج</h5>
                </div>
                <div class="col-md-6 text-end">

                    <div class="dt-buttons text-end me-3">
                        
                    </div>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    @if (Model != null)
                    {
                     
                            <div class="col-sm-6">
                                <div class="form-group mb-50">

                                    <select class="form-select" id="variation">
                                    @foreach (var item in Model)
                                    {
                                        <option value="@item.ProductId">@item.ColorName</option>
                                    }
                                    </select>
                                </div>
                            </div>

                        

                    }
                </div>
                <div class="dropdown-divider"></div>

                <div class="col-12" id="create-variation"></div>
            </div>
        </div>
        </div>
        </div>

      
         
        

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script src="~/js/uploadFiles.js" asp-append-version="true"></script>
   
    <script type="text/javascript">

        function uploud(){

            $("#upload").on('change', function () {

                var files = $('#upload').prop("files");

                let folderName = "variation";
                uplodfile(files, folderName);
            });

            $('#fileBtn').click(function () {  $('#upload').trigger('click'); });
        }
                $("#variation").on("change",function(){
                    var selectedOption = $("#variation option:selected");
                    var pid=$(this).val();
                    // Get the text of the selected option
                    var selectedText = selectedOption.text();
                    let url = "../ProductAttribute/CreateVariation";

                    let item = "";
                    jQuery.ajax({
                        method: "get",
                        url: url,
                        data: { "id": pid, "name": selectedText },
                        contentType: false,
                        beforeSend: function () {

                            $("#create-variation").html("<span class='spinner-border spinner-border-sm' role ='status' aria - hidden='true' > </span>Loading...");
                            //$(".send-btn").prop("disabled", true);
                        },
                        success: function (res) {

                            $("#create-variation").html(res);

                            /////////////////////////////////////////////////
                    uploud();
                    submitData();
                            //////////////////////////////////////////////


                        },
                        error: function (ex) {
                            alert("errrrrrrrrrr  " + ex.responseText);
                        }
                    });
                });
                function submitData(){

            $("#ProductVariationDto").on("submit", (e) => {
                e.preventDefault();
                e.stopImmediatePropagation();
                let urlp = "../ProductAttribute/CreateVariation";
                let datap = new FormData(document.getElementById("ProductVariationDto"));
               

                jQuery.ajax({
                    method: "post",
                    url: urlp,
                    data: datap,
                    contentType: false,
                    processData: false,  cache: false,
                    beforeSend: function () {

                        $("#submit-btn").html("<span class='spinner-border spinner-border-sm' role ='status' aria - hidden='true' > </span>Loading...");
                        $("#submit-btn").prop("disabled", true);
                    },
                    success: function (res1) {

                        $("#submit-btn").prop("disabled", false);
                        $("#submit-btn").html("اضافة");

                        /////////////////////////////////////////////////


                        //////////////////////////////////////////////


                    },
                    error: function (ex) {
                        alert("errrrrrrrrrr  " + ex.responseText);
                    }
                });

            });
                }
</script>
}