@using EcommereceWeb.Application.Interfaces.Common;

@inject IServiceManager serviceManager
@{
    var res = await serviceManager.AttributeService.GetAll();

}




<style>
    #AttItem{
        max-width:100%;
        width:350px;

    }

    .vscomp-toggle-button{
        padding: 10px 30px 10px 10px;
        border-radius:5px;
    }

</style>



<form asp-controller="Attribute" asp-action="Create" method="post">

    <div class="form-group mb-50">
        <label class="text-bold-600" for="exampleInputEmail1">صفات المنتج </label>

        <select class="form-select" id="Att">
            @if (res.Status.Succeeded)
            {
                foreach (var item in res.Data)
                {
                    <option value="@item.Id">@item.ArName</option>

                }
            }
        </select>
    </div>
    <div class="form-group mb-50">
        <label class="text-bold-600" for="exampleInputEmail1"> عناصر الصفات </label>

        <select class="form-select" id="AttItem1">
        </select>
    </div>
    <div>

    <label class="text-bold-600" for="exampleInputEmail1"> عناصر الصفات </label>

        <select id="AttItem" multiple name="native-select" placeholder="Native Select" data-search="true" data-silent-initial-value-set="true">
            <option value="1">Option 1</option>
            <option value="2">Option 2</option>
            <option value="3">Option 3</option>

        </select>
    </div>

    <div class="modal-footer d-inline-flex">
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        <input type="submit" class="btn alert-info" value="Add Attribute">
    </div>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
<script type="text/javascript">

VirtualSelect.init({
            ele: '#AttItem'
});


        $("#Att").on("change", function () {

            let id = $(this).val();
            let url = "../ProductAttribute/getAttrItems";
            let item = "";
            jQuery.ajax({
                method: "get",
                url: url,
                data: { "id": id },
                contentType: false,
                success: function (res) {
                    res.map(a => {
                        item += `<option value="${a.id}"> ${a.name}</option>`;
                    });
                    $("#AttItem1").html(item);

                },
                error: function (ex) {
                    alert("errrrrrrrrrr  " + ex.responseText);
                }
            });
        });



</script>

}